In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("placement.csv")

In [8]:
print('Info',df.info)

Info <bound method DataFrame.info of      sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1      M  67.00   Others  91.00   Others  Commerce     58.00
1        2      M  79.33  Central  78.33   Others   Science     77.48
2        3      M  65.00  Central  68.00  Central      Arts     64.00
3        4      M  56.00  Central  52.00  Central   Science     52.00
4        5    NaN  85.80  Central  73.60  Central  Commerce     73.30
..     ...    ...    ...      ...    ...      ...       ...       ...
210    211      M  80.60   Others  82.00   Others  Commerce     77.60
211    212      M  58.00   Others  60.00   Others   Science     72.00
212    213      M  67.00   Others  67.00   Others  Commerce     73.00
213    214      F  74.00   Others  66.00   Others  Commerce     58.00
214    215      M  62.00  Central  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  400000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]>

In [9]:
print('Shape',df.shape)

Shape (215, 15)

In [10]:
print('Column Name',df.columns)

Column Name Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [11]:
print('Total Element',df.size)

Total Element 3225

In [12]:
print('First 5 Rows',df.head().T)

First 5 Rows                        0         1          2           3          4
sl_no                  1         2          3           4          5
gender                 M         M          M           M        NaN
ssc_p               67.0     79.33       65.0        56.0       85.8
ssc_b             Others   Central    Central     Central    Central
hsc_p               91.0     78.33       68.0        52.0       73.6
hsc_b             Others    Others    Central     Central    Central
hsc_s           Commerce   Science       Arts     Science   Commerce
degree_p            58.0     77.48       64.0        52.0       73.3
degree_t        Sci&Tech  Sci&Tech  Comm&Mgmt    Sci&Tech  Comm&Mgmt
workex                No       Yes         No          No         No
etest_p             55.0      86.5       75.0        66.0       96.8
specialisation    Mkt&HR   Mkt&Fin    Mkt&Fin      Mkt&HR    Mkt&Fin
mba_p               58.8     66.28       57.8       59.43       55.5
status            Placed    Placed     Placed  Not Placed     Placed
salary          270000.0  200000.0   250000.0         NaN   425000.0

In [13]:
print('Last 5 Rows',df.tail().T)

Last 5 Rows                       210       211        212        213         214
sl_no                 211       212        213        214         215
gender                  M         M          M          F           M
ssc_p                80.6      58.0       67.0       74.0        62.0
ssc_b              Others    Others     Others     Others     Central
hsc_p                82.0      60.0       67.0       66.0        58.0
hsc_b              Others    Others     Others     Others      Others
hsc_s            Commerce   Science   Commerce   Commerce     Science
degree_p             77.6      72.0       73.0       58.0        53.0
degree_t        Comm&Mgmt  Sci&Tech  Comm&Mgmt  Comm&Mgmt   Comm&Mgmt
workex                 No        No        Yes         No          No
etest_p              91.0      74.0       59.0       70.0        89.0
specialisation    Mkt&Fin   Mkt&Fin    Mkt&Fin     Mkt&HR      Mkt&HR
mba_p               74.49     53.62      69.72      60.23       60.22
status             Placed    Placed     Placed     Placed  Not Placed
salary           400000.0  275000.0   295000.0   204000.0         NaN

In [14]:
print('Any 5 Rows',df.sample(5).T)

Any 5 Rows                        155        28         55         151        122
sl_no                  156         29         56        152        123
gender                   M          M          M          M          F
ssc_p                51.57      76.76       60.4       65.0       66.5
ssc_b               Others     Others    Central    Central    Central
hsc_p                74.66       76.5       66.6       65.0       66.8
hsc_b               Others     Others     Others    Central    Central
hsc_s             Commerce   Commerce    Science   Commerce       Arts
degree_p              59.9       67.5       65.0       75.0       69.3
degree_t         Comm&Mgmt  Comm&Mgmt  Comm&Mgmt  Comm&Mgmt  Comm&Mgmt
workex                 Yes        Yes         No         No        Yes
etest_p              56.15      73.35       71.0       83.0       80.4
specialisation      Mkt&HR    Mkt&Fin     Mkt&HR    Mkt&Fin    Mkt&Fin
mba_p                65.99      64.15      52.71      58.87       71.0
status          Not Placed     Placed     Placed     Placed     Placed
salary                 NaN   350000.0   220000.0   270000.0   236000.0

In [16]:
print('Statistical Info:\n',df.describe())

Statistical Info:
             sl_no       ssc_p       hsc_p    degree_p     etest_p       mba_p  \
count  215.000000  213.000000  214.000000  213.000000  213.000000  213.000000
mean   108.000000   67.372911   66.344065   66.388404   72.219390   62.266103
std     62.209324   10.811464   10.921885    7.256840   13.255118    5.837303
min      1.000000   40.890000   37.000000   50.200000   50.000000   51.210000
25%     54.500000   60.800000   60.850000   61.000000   60.000000   57.900000
50%    108.000000   67.000000   65.000000   66.000000   71.000000   62.000000
75%    161.500000   76.000000   73.000000   72.000000   84.000000   66.230000
max    215.000000   89.400000   97.700000   91.000000   98.000000   77.890000

              salary
count     148.000000
mean   288655.405405
std     93457.452420
min    200000.000000
25%    240000.000000
50%    265000.000000
75%    300000.000000
max    940000.000000

In [18]:
print('total null values:\n',df.isna().sum())

total null values:
 sl_no              0
gender             2
ssc_p              2
ssc_b              1
hsc_p              1
hsc_b              2
hsc_s              2
degree_p           2
degree_t           1
workex             2
etest_p            2
specialisation     2
mba_p              2
status             0
salary            67
dtype: int64

In [19]:
df['gender'].fillna(df['gender'].mode()[0],inplace=True)

In [23]:
df['ssc_p'].fillna(df['ssc_p'].mean(),inplace=True)

In [24]:
print('total null values:\n',df.isna().sum())

total null values:
 sl_no              0
gender             0
ssc_p              0
ssc_b              1
hsc_p              1
hsc_b              2
hsc_s              2
degree_p           2
degree_t           1
workex             2
etest_p            2
specialisation     2
mba_p              2
status             0
salary            67
dtype: int64

In [26]:
df.dtypes

sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [29]:
df['sl_no']=df['sl_no'].astype('int8')

In [30]:
df['sl_no'].dtypes

dtype('int8')

In [31]:
df['gender'].replace(['M','F'],[1,2],inplace=True)

In [32]:
df['gender']

0      1
1      1
2      1
3      1
4      1
      ..
210    1
211    1
212    1
213    2
214    1
Name: gender, Length: 215, dtype: int64

In [34]:
df['ssc_b']=df['ssc_b'].astype('category')

In [35]:
df['ssc_b']

0       Others
1      Central
2      Central
3      Central
4      Central
        ...
210     Others
211     Others
212     Others
213     Others
214    Central
Name: ssc_b, Length: 215, dtype: category
Categories (2, object): ['Central', 'Others']

In [36]:
 df['ssc_b']=df['ssc_b'].cat.codes

In [37]:
 df['ssc_b']

0      1
1      0
2      0
3      0
4      0
      ..
210    1
211    1
212    1
213    1
214    0
Name: ssc_b, Length: 215, dtype: int8

In [38]:
from sklearn.preprocessing import OrdinalEncoder

In [39]:
enc = OrdinalEncoder()

In [42]:
df[['status']]=enc.fit_transform(df[['status']])

In [43]:
df['status']

0      1.0
1      1.0
2      1.0
3      0.0
4      1.0
      ...
210    1.0
211    1.0
212    1.0
213    1.0
214    0.0
Name: status, Length: 215, dtype: float64

In [44]:
df['etest_p']=(df['etest_p'].min())/(df['etest_p'].max()-df['etest_p'].min())

In [45]:
df['etest_p']

0      1.041667
1      1.041667
2      1.041667
3      1.041667
4      1.041667
         ...
210    1.041667
211    1.041667
212    1.041667
213    1.041667
214    1.041667
Name: etest_p, Length: 215, dtype: float64

In [46]:
from sklearn.preprocessing import MaxAbsScaler

In [47]:
abs=MaxAbsScaler()

In [48]:
df['degree_p']=abs.fit_transform(df[['degree_p']])

In [49]:
df['degree_p']

0      0.637363
1      0.851429
2      0.703297
3      0.571429
4      0.805495
         ...
210    0.852747
211    0.791209
212    0.802198
213    0.637363
214    0.582418
Name: degree_p, Length: 215, dtype: float64